**/target
*.gguf
*.part
**/pytorch/dumps
debug_compare_out
debug_dumps
**/pytorch/*.json
*.jsonl
*.json
*.log
*.tsv
.DS_Store
test.py
**/Cargo.lock
experimental
.venv
.vscode
venv
*.png
tools/metal_probes/*.air
tools/metal_probes/.build
*.metallib
*.air
.zed
